<center>
	<h1>Nuevo usuario</h1>
	<form>
		<label>Nombre:</label>
		<input type="text" id="idNombre">
		<label>Apellidos:</label>
		<input type="text" id="idApellido">
		<label>Correo</label>
		<input type="text" id="idCorreo">
		<label>Fecha nacimiento</label>
		<input type="date" id="idFechaNacimiento">
		<input type="submit" value="Enviar">

	</form>
	</center>
